PostScripts/*
!PostScripts/*.py

neb_lib/*
!neb_lib/src/
!neb_lib/nbproject/
!neb_lib/*.xml

neb_builder/*
!neb_builder/src/
!neb_builder/nbproject/
!neb_builder/*.xml

Neb_viewer/*
!Neb_viewer/src/
!Neb_viewer/nbproject/
!Neb_viewer/*.xml

GraphLayout/*
!GraphLayout/src/
!GraphLayout/nbproject/
!GraphLayout/*.xml


Scripts/Cisco_information/*
!Scripts/Cisco_information/src/
!Scripts/Cisco_information/nbproject/
!Scripts/Cisco_information/*.xml
Scripts/Cli_test/*
!Scripts/Cli_test/src/
!Scripts/Cli_test/nbproject/
!Scripts/Cli_test/*.xml
Scripts/SNMP_information/*
!Scripts/SNMP_information/src/
!Scripts/SNMP_information/nbproject/
!Scripts/SNMP_information/*.xml
Scripts/Lib/Expect/*
!Scripts/Lib/Expect/src/
!Scripts/Lib/Expect/nbproject/
!Scripts/Lib/Expect/*.xml
Scripts/Lib/JSON/*
!Scripts/Lib/JSON/src/
!Scripts/Lib/JSON/nbproject/
!Scripts/Lib/JSON/*.xml
Scripts/Lib/Terminal/*
!Scripts/Lib/Terminal/src/
!Scripts/Lib/Terminal/nbproject/
!Scripts/Lib/Terminal/*.xml

Tools/*

/neb_builder.new/target/
/neb_builder.old/nbproject/
/passwd/target/
/Passwd/nbproject/private/
/passwd.old/target/
/Passwd/build/
/Passwd/dist/
/Neb_viewer.old/build/
/Neb_viewer.old/dist/
/Neb_viewer.old/nbproject/private/
/Scripts/Cisco_information.old.old/build/
/Scripts/Cisco_information.old.old/dist/
/Scripts/Cisco_information.old.old/nbproject/private/
/Scripts/Lib/Terminal.old/build/
/Scripts/Lib/Terminal.old/dist/
/Scripts/Lib/Terminal.old/nbproject/private/
/Scripts/Cli_test.old/build/
/Scripts/Cli_test.old/dist/
/Scripts/Cli_test.old/nbproject/private/
/Scripts/SNMP_information.old/build/
/Scripts/SNMP_information.old/dist/
/Scripts/SNMP_information.old/nbproject/private/
/GraphLayout.old/build/
/GraphLayout.old/dist/
/GraphLayout.old/nbproject/private/
/Scripts/GraphLayout/target/

NSIS/jdk-15
NSIS/Install_Neb_viewer.exe

lib
